<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    Hello world
    <app-child-component></app-child-component>

    <h1> Hi </h1>
    <table border="1">
      <button (click)="toggle()">toggle</button>
      <ng-container *ngFor = "let student of Students">
        <tr *ngIf="visible" >
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.age}}</td>
        <td><button (click)="delete(student.id)">delete</button></td>
    </tr>
    
  </ng-container>
    </table>

   

</body>
</html>
